<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sultan sklep website">
    <meta name="keywords" content="sultan sklep, unica, creative,wedevloop, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Sultan Sklep</title>
    @* <link rel="icon" type="image/x-icon" href="/img/logo.png"> *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body>

    <div id="hamburger-container">
        <!-- Humberger Begin -->
        <div class="humberger__menu__overlay"></div>
        <div class="humberger__menu__wrapper">
            <div class="humberger__menu__logo">
                <a href="#"><img src="~/assets/img/logo.png" alt=""></a>
            </div>
            <div class="humberger__menu__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <div class="header__cart__price">item: <span>$150.00</span></div>
            </div>
            <div class="humberger__menu__widget">
                <div class="header__top__right__language">
                    <img src="~/assets/img/language.png" alt="">
                    <div>English</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Spanis</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="header__top__right__auth">
                    <a href="#"><i class="fa fa-user"></i> Login</a>
                </div>
            </div>
            <nav class="humberger__menu__nav mobile-menu">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./shop-grid.html">Shop</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
            <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="humberger__menu__contact">
                <ul>
                    <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                    <li>Free Shipping for all Order of $99</li>
                </ul>
            </div>
        </div>
        <!-- Humberger End -->
    </div>

    <!-- Header Section Begin -->
    <div id="navbar-container">
        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i>sultansklepwaw@gmail.com</li>
                                    <li><b>Darmowa dostawa powyżej 100zl</b></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__right">
                                <div class="header__top__right__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                                <div class="header__top__right__auth">
                                    <a href="../login-register.html"><i class="fa fa-user"></i> Zaloguj się</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row align-center">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="~/assets/img/logo.png" alt="logo" /></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="./index.html">Główna</a></li>
                                <li><a href="./shop-grid.html">Sklep</a></li>
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="./contact.html">Kontakt</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li>
                                    <a href="../shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
                                </li>
                                <li>
                                    <div class="header__cart__price">Cart Count: <span>$150.00</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="humberger__open">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
        </header>
        <!-- Header Section End -->

    </div>
    <!-- Header Section End -->


        <main>
            @RenderBody()
        </main>

    <!-- Footer Section Begin -->
    <div id="footer-container">
        <!-- Footer Section Begin -->
        <footer class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a href="./index.html"><img src="~/assets/img/logo.png" alt="" /></a>
                            </div>
                            <ul>
                                <li>Address: Niepodległości 88, Warszawa</li>
                                <li>Phone: +48 690 595 296</li>
                                <li>Email: sultansklepwaw@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                        <div class="footer__widget">
                            <h6>Przydatne linki</h6>
                            <ul>
                                <li><a href="#">O nas</a></li>
                                <li><a href="#">O naszym sklepie</a></li>
                                <li><a href="#">Bezpieczne zakupy</a></li>
                                <li><a href="#">Informacje o dostawie</a></li>
                                <li><a href="#">Polityka prywatności</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Kim jesteśmy</a></li>
                                <li><a href="#">Nasze usługi</a></li>
                                <li><a href="#">Projekty</a></li>
                                <li><a href="#">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="footer__widget">
                            <h6>Dołącz do naszego newslettera</h6>
                            <p>Otrzymuj aktualizacje e-mailowe o naszym najnowszym sklepie i specjalnych ofertach.</p>
                            <form action="#">
                                <input type="text" placeholder="Wpisz swój e-mail" />
                                <button type="submit" class="site-btn">Subskrybuj</button>
                            </form>
                            <div class="footer__widget__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__copyright">
                            <div class="footer__copyright__text">
                                <p>
                                    Copyright &copy;
                                    Wszelkie prawa zastrzeżone | Strona internetowa opracowana przez
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <a href="https://wedevloop.com" target="_blank">Wedevloop</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

    </div>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    @* <script src="~/assets/js/caller.js"></script> *@
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/mixitup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".hero__slider").owlCarousel({
                items: 1,             // Show one hero banner at a time
                loop: true,           // Infinite loop
                autoplay: true,       // Auto-slide
                autoplayTimeout: 5000, // Time between slides (5 seconds)
                smartSpeed: 1000,     // Smooth transition speed
                dots: true,           // Show navigation dots
                nav: true,            // Show navigation arrows
                navText: ["<i class='bi bi-chevron-left'></i>", "<i class='bi bi-chevron-right'></i>"] // Bootstrap icons for arrows
            });
        });
    </script>

</body>


</html>