

.pb-6 {
    padding-bottom: 12px !important;
}

.login-reg-form-wrap {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 23px 30px 30px;
}
.single-input-item {
    margin-top: 20px;
}

.single-input-item input:not([type=checkbox]), .single-input-item textarea {
    color: #666666;
    border: 1px solid #ccc;
    padding: 12px 10px;
    width: 100%;
    font-size: 14px;
    background: #f7f7f7;
}

.align-items-center {
    align-items: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important
;
}

.login-reg-form-wrap .login-reg-form-meta .forget-pwd{
    color: #C8102E;
}

.single-input-item label {
    color: #292825;
    text-transform: capitalize;
    font-size: 14px;
}

label {
    display: inline-block;
}

.single-input-item {
    margin-top: 20px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.sqr-btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #C8102E;
    padding: 0 20px;
    text-transform: uppercase;
    display: inline-block;
}

.header__cart {
    display: none;
}

.btn {
    display: block;
    border: 1px solid #ccc;
    color: #C8102E;
    text-decoration: none;
    margin: 20px 0;
    padding: 6px;
    border-radius: 5px;
   
}  
.custom-control {
    padding-left: 0 !important;
}
.signup-connect{
    display: flex;
}
.signup-connect a{
    color: #C8102E;
}
.signup-connect img{
    width: 20px;
    height: 20px;
}
.signup-connect a:nth-child(2){
    margin-left: 10px;
}